<!DOCTYPE html>
<html>
    <head>
        <title>Cars I Want to Buy</title>
        <link href="/static/styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="header">
            <marquee behavior="scroll" direction=""left">Name: Cameron Hayes   Class: SDEV300</marquee>
        </div>
        <h2>Cars I Want to Buy:</h2>
        <!--Links to manufacturer pages-->
        <ol type="1">
            <li><a href="https://www.ford.com/suvs/bronco/?gnav=header-suvs-vhp">Ford Bronco</a></li>
            <img src="/static/bronco.jpg" width="500" height="333">

            <li><a href="https://www.ramtrucks.com/ram-1500.html">Ram 1500</a></li>
            <img src="/static/rebel.jpg" width="500" height="333">

            <li><a href="https://www.porsche.com/usa/models/718/718-models/718-cayman/">Porsche Cayman</a></li>
            <img src="/static/cayman.jpg" width="500" height="333">
        </ol>
        <div class="footer">
            <marquee behavior="scroll" direction=""left">Thanks for Visiting!</marquee>
        </div>
    </body>
</html>