<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
        <link href="/static/styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="header">
            <marquee behavior="scroll" direction=""left">Name: Cameron Hayes   Class: SDEV300</marquee>
        </div>
        <h1>Welcome to my website!</h1>
        <p>Today's date is {{content}}</p>
        <p>This is my very first website!</p>
        <p>I hope you enjoy it!</p>

        <h3>Here's some pages about me:</h3>

        <!--Make sure you have the associated pages before you access!-->
        <ul style="list-style-type:disc;">
            <li><a href="places">Places I Want To Live</a></li>
            <li><a href="cars">Cars I Want to Buy</a></li>
            <li><a href="videogames">Video Games I'm Looking Forward To</a></li>
        </ul>
        <img src="/static/dancingbaby.gif">
        <div class="footer">
            <marquee behavior="scroll" direction=""left">Thanks for Visiting!</marquee>
        </div>
    </body>
</html>