<!DOCTYPE html>
<html>
    <head>
        <title>Places I Want To Live</title>
        <link href="/static/styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="header">
            <marquee behavior="scroll" direction=""left">Name: Cameron Hayes   Class: SDEV300</marquee>
        </div>
        <h2>Places I Want to Live:</h2>
        <!--Links to Wikipedia pages-->
        <ol type="1">
            <li><a href="https://en.wikipedia.org/wiki/Seattle">Seattle, WA</a></li>
            <img src="/static/seattle.jpg" width="500" height="333">

            <li><a href="https://en.wikipedia.org/wiki/Montpelier,_Vermont">Montpelier, VT</a></li>
            <img src="/static/montpelier.jpg" width="500" height="333">

            <li><a href="https://en.wikipedia.org/wiki/Boston">Boston, MA</a></li>
            <img src="/static/boston.jpg" width="500" height="333">
        </ol>
        <h3>P.S.: As you can tell, I like the cold.</h3>
        <div class="footer">
            <marquee behavior="scroll" direction=""left">Thanks for Visiting!</marquee>
        </div>
    </body>
</html>