<!DOCTYPE html>
<html>
    <head>
        <title>Video Games I'm Looking Forward To</title>
        <link href="/static/styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="header">
            <marquee behavior="scroll" direction=""left">Name: Cameron Hayes   Class: SDEV300</marquee>
        </div>
        <h2>Video Games I'm Looking Forward To:</h2>
        <!--Links to developer/publisher pages-->
        <ol type="1">
            <li><a href="https://bethesda.net/en/game/starfield">Starfield</a></li>
            <img src="/static/starfield.jpg" width="500" height="333">

            <li><a href="https://baldursgate3.game/">Baldur's Gate 3</a></li>
            <img src="/static/baldurs.jpg" width="500" height="333">

            <li><a href="https://www.playstation.com/en-us/games/god-of-war-ragnarok/">God of War: Ragnarok</a></li>
            <img src="/static/godofwar.jpg" width="500" height="333">
        </ol>
        <div class="footer">
            <marquee behavior="scroll" direction=""left">Thanks for Visiting!</marquee>
        </div>
    </body>
</html>